.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin-bottom: 40px;
}

.cate_options {
  height: 2rem;
  width: auto;
}

.story_list_bl01 tr {
  display: inline-block;
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  padding: 3px 20px 3px 0px;
}

.story_list_bl01 select,
.story_list_bl01 td ul li a {
  display: inline-block;
  border-radius: 15px;
  border: solid 1px #e0e0e0;
}

.story_list_bl01 tbody td {
  display: inline-block;
}

.story_list_bl01 td li {
  list-style: none;
  padding: 3px 0;
}
.story_list_bl01 td ul li {
  float: left;
}
.story_list_bl01 td ul li a {
  display: inline-block;
  padding: 9px 10px;
  min-width: 80px;
  text-align: center;
  margin-right: 10px;
  color: #000;
}
