/* .doc_info_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
} */

.book_info {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 5rem;
}

.book_info .book_avatar {
  margin: auto;
  padding: 10px;
}

.book_other .list_info {
  padding: 0;
  margin: 0;
}

.book_other .list_info li {
  list-style: none;
  display: flex;
  padding: 16px 0;
}

.book_other .info_title {
  width: 10rem;
  margin-left: 6px;
}

.cates_list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: left;
  margin-left: -50px;
}

.cates_list li {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #f18121;
  color: #f18121;
  padding: 4px 6px;
  border-radius: 3px;
  margin-right: 10px;
}

.cates_list li:hover {
  background: #f18121;
  color: #fff;
  list-style: none;
}

.post_author {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.post_author_image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.post_author_name {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}
